* {
  font-family: "Varela Round", sans-serif;
}

.sidenav {
  width: 150px !important;
  padding-top: 40px;
  border: hidden !important;
}

.center-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.iconSize {
  font-size: 2.5rem;
}

.badge {
  margin: 0 !important;
}

li > a {
  padding: 0 !important;
}

section {
  overflow: auto !important;
}